.jumbo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 4% 8% 4% 8%;
    border-radius: 12px;
    padding: 25px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.52) 11.19%, rgba(255, 255, 255, 1.00) 100%);
}

.custom-button {
    width: auto;
    height: 60px;
    padding: 0 35px 0 35px;
    font-size: 28px;
    background-color: #4879B2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.small-button {
    width: auto;
    height: 30px;
    padding: 0 14px 0 14px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4879B2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;

}