body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/liam-portfolio.appspot.com/o/bkgd.jpeg?alt=media&token=cc919a4f-b232-4fea-9a5c-932499516ab8');
    text-align: center;
}

.app-title {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color: #0ccac4;
    font-family: 'Bigelow Rules';
}

@media (max-width: 439px) {
    body {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 1.00) 0%, rgba(48, 88, 86, 1.00) 100.00%);
        background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1.00) 0%, rgba(48, 88, 86, 1.00) 100%);
    }
}